@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb:244, 196, 48 , 0.4;
    --background-end-rgb: 100, 0, 0 , 0.8;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

  @keyframes slideInFromLeft {
    0% {
      transform: translateX(-100%);
    }
    100% {
      transform: translateX(0);
    }
  }
img{
  animation: slideInFromLeft 0.5s ease-out;
  filter: drop-shadow(20px 15px 10px rgba(29, 0, 0, 1));
}



@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
